.Navbar {
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-bottom {
    width: 65%;
}

.navbar-bottom ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1A1B21;
}

.navbar-bottom ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navbar-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 1.2rem;
}

.navbar-form input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(82, 80, 80);
    outline: none;
}

.navbar-subs {
    width: 20%;
    display: flex;
    justify-content: center;
}

.navbar-subs button {
    border: none;
    padding: 1rem;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.navbar-subs button:hover {
    background-color: black;
    color: white;
}

.navbar-logo {
    width: 60%;
    display: flex;
    justify-content: center;
    color: #1A1B21;
}