    .Navbar {
        height: 22rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem;
        background-color: black;
    }

    .navbar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: white;
    }

    .home-catgeory {
        border-bottom: 2px solid lightgrey;
        width: 100%;
        padding: 0.8rem;
    }

    .home-catgeory ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #1A1B21;
    }

    .home-catgeory ul li:hover {
        text-decoration: underline;
        color: rgb(255, 77, 0);
        cursor: pointer;
    }

    .navbar-center {
        text-align: center;
        color: white;
        padding: 3rem;
        width: 70%;
    }

    .navbar-center h1 {
        font-size: 70px;
    }

    .navbar-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.2rem;
    }

    .navbar-form input {
        padding: 5px;
        border: none;
        border-bottom: 1px solid rgb(82, 80, 80);
        background-color: black;
        color: white;
        outline: none;
    }

    .navbar-subs {
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .navbar-pages {
        width: 35%;
    }

    .navbar-pages ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-pages ul li:hover {
        text-decoration: underline;
        color: rgb(255, 77, 0);
        cursor: pointer;
    }

    .subscribe-btn {
        border: none;
        padding: 1rem;
        background-color: rgb(255, 115, 0);
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
    }

    .subscribe-btn:hover {
        background-color: rgb(255, 77, 0);
        color: white;
    }

    .navbar-logo {
        width: 25%;
        display: flex;
        justify-content: center;
        color: #ffffff;
        cursor: pointer;
    }

    .navbar-logo span {
        color: rgb(255, 115, 0);

    }

    @media screen and (max-width: 1024px) {
        .Navbar {
            width: 100%;
        }

        .navbar-subs {
            width: 32%;
        }

        .navbar-center {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        .Navbar {
            padding: 0px;
            height: auto;
        }

        .navbar-center h1 {
            font-size: 50px;
        }

        .navbar-top {
            width: 100%;
            font-size: 10px;
            padding: 3px 20px;
        }

        .navbar-subs {
            width: 100%;
        }

        .search-input {
            width: 60%;
        }

        .navbar-pages {
            display: none;
        }
    }